node_modules
dist

npm-debug.log
yarn-debug.log
yarn-error.log

.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

.git
.gitignore

coverage
__test__

prisma/dev.db
prisma/dev.db-journal
